[submodule "biobench2"]
	path = biobench2
	url = https://github.com/reiverjohn/biobench2.git
[submodule "graphBIG"]
	path = graphBIG
	url = https://github.com/graphbig/graphBIG.git
[submodule "gups"]
	path = gups
	url = git@github.com:xlab-uiuc/gups.git
[submodule "sysbench"]
	path = sysbench
	url = https://github.com/akopytov/sysbench.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "LEBench"]
	path = LEBench
	url = git@github.com:xlab-uiuc/LEBench.git
