[submodule "biobench2"]
	path = biobench2
	url = git@github.com:xlab-uiuc/biobench2.git
[submodule "graphBIG"]
	path = graphBIG
	url = git@github.com:xlab-uiuc/graphBIG.git
[submodule "gups"]
	path = gups
	url = git@github.com:xlab-uiuc/gups.git
[submodule "sysbench"]
	path = sysbench
	url = git@github.com:xlab-uiuc/sysbench.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "LEBench"]
	path = LEBench
	url = git@github.com:xlab-uiuc/LEBench.git
[submodule "ltp"]
	path = ltp
	url = https://github.com/linux-test-project/ltp
